@import '../../../styles/app';

.root {
  p {
    display: inline-block;
    color: $brand-danger;
  }
  @media(max-width: 400px) {
    width: 350px;
    display: inline-block;
    color: $brand-danger;
  }

  @media (max-width: 400px) {
    p {
      width: 350px;
    }
  }
}

.previewList {
  //
}

.cropper {
  margin-top: 10px;
}
