@import '../../../../../styles/app';

.root {
  cursor: pointer;

  .input {
    width: 100%;
  }

  .image {
    width: 70px;
  }

  .displayBlock {
    display: block;
  }
}

.description {
  width: 100%;
  resize: vertical;
  min-height: 75px;
}

.mapInput {
  height: 400px;
  display: block;
}

select:not([multiple]) {
  height: 30px;
  width: 70px;
  overflow: hidden;
}
