@import '../../../styles/app';

.root {
  padding: 15px;
  min-height: 300px;

  & > .policiesLinks {
    display: block;
    width: 100%;

    & > .linkItem {
      display: inline-flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 50%;
    }
  }

  & > .mobilePoliciesLinks {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;

    & > .mobileLinkItem {
      display: inline-flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
}
