@import '../../../../../styles/app';

.root {
  &.list {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    border-bottom: 1px solid $light-gray;
    padding: 10px 0;

    .image {
      & > img {
        width: 240px;
        height: 160px;
        object-fit: cover;
        cursor: pointer;

        &:hover {
          filter: brightness(75%);
        }
      }
    }

    .details {
      padding-left: 20px;
      position: relative;
      width: 100%;

      & h4 {
        margin-top: 0;
      }

      & > .intro {
        position: relative;
        margin-bottom: 10px;
        font-size: 15px;
        padding: 0;
        width: 100%;
        height: 61px;
        overflow: hidden;

        &:after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 70%;
          height: 1.2em;
        }
      }

      @supports (-webkit-line-clamp: 3) {
        & > .intro {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

          &:after {
            display: none;
            height: 1.2em;
          }
        }
      }

      & > .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .dateTime {
          color: #aeaeae;
          height: 30px;
          line-height: 30px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }

        .lastSeen {
          position: absolute;
          right: -15px;
          margin-right: 22px;
          margin-top: 7px;
          color: $brand-danger;
        }

        .actionButtons {
          flex-grow: 1;
          height: 25px;
          text-align: right;
          height: 25px;
          display: none;
        }
      }
    }

    .owner {
      font-size: 17px;

      & > a {
        text-decoration: underline;
      }
    }
  }

  &.icons {
    display: inline-grid;
    width: calc(100% / 3);
    position: relative;
    padding: 0 10px 10px;
    margin-bottom: 15px;

    &:hover {
      .image {
        & > img {
          filter: brightness(75%);
        }
      }

      .actionButtons {
        display: block;
      }
    }

    .image {
      & > img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .actionButtons {
      display: none;
      height: 25px;
      position: absolute;
      top: 120px;
      right: 25px;
    }
  }
}

.title, .name {
  color: $text-color;
  cursor: pointer;

  & h4 {
    border-bottom: 1px solid transparent;
    width: 570px;

    &:hover {
      color: $brand-success;
      border-bottom: 1px solid $brand-success;
    }
  }

  &:hover {
    color: $brand-success;
    border-bottom: 1px solid $brand-success;
  }
}

.public {
  background: rgba(0, 0, 0, 0.1);
}

.root {
  &.list:hover .actionButtons {
    display: block !important;
  }
}
