@import '../../../styles/app';

.root {
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;

  & > .title {
    color: $text-color;
    text-align: center;
    font-size: 35px;
    margin: 20px;
    font-weight: 700;
  }

  & > .poster {
    position: relative;
    margin-bottom: 15px;

    & > .image {
      height: 518px;

      & > img {
        width: 100%;
        height: 500px;
        object-fit: contain;
      }
    }

    & > .date {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 125px;
      height: 200px;
      padding-top: 20px;
      background-color: $brand-success;
      position: absolute;
      bottom: 0;
      overflow: hidden;

      & > .dayOfWeek {
        text-transform: uppercase;
        color: $primary-white;
      }

      & > .day {
        font-size: 56px;
        line-height: 44px;
        font-weight: 700;
        color: $primary-white;
      }

      & > .month {
        text-transform: uppercase;
        color: $primary-white;
      }

      & > .hobbies {
        margin-top: 5px;
        color: $primary-white;
        padding: 0 14px;
      }
    }
  }

  & > .controls {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px;
    padding: 0 20px;
    justify-content: space-between;

    .hidden {
      opacity: 0;
      cursor: context-menu;
    }
  }

  & > .details {
    position: relative;
    margin-bottom: 15px;
    padding: 20px;
    background-color: $primary-white;
    display: flex;

    & > .brand {
      flex: 50%;
      padding: 5px 10px 5px 5px;

      & > div > i {
        margin-right: 5px;

        &::before {
          position: relative;
          top: 2px;
        }
      }

      & > .logo {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;

        & > img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid darken($light-gray, 5%);
          object-fit: scale-down;
        }
      }

      & > .brandName {
        display: inline-block;
        vertical-align: top;
        height: 50px;
        padding: 5px;
        font-size: 25px;
        font-weight: 600;
        line-height: 40px;
      }

      & > .description {
        padding: 5px 5px 5px 0;
      }
    }

    & > .description {
      flex: 50%;
      padding: 5px 5px 5px 10px;
      border-left: 1px solid darken($light-gray, 5%);
    }
  }

  & > .ownerDetails {
    display: flex;
    padding: 15px;
    padding-top: 10px;
    height: 60px;
    background-color: white;

    & img, i {
      display: inline-flex;
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    & i {
      align-items: center;
      justify-content: center;
      font-size: 25px;
      border: 1px solid darken($light-gray, 5%);

      &::before {
        top: -2px;
      }
    }

    & > .aside {
      display: inline-flex;
      flex-direction: column;
      margin-left: 10px;

      & h4 {
        margin: 0;
      }

      & a {
        color: $brand-danger;
      }
    }
  }
}
