@import '../../../../../styles/app';

.root {
  padding-top: 15px;
  position: relative;

  & > .head {
    display: flex;
    height: 35px;
    margin: 5px 0;
    flex-direction: row;
    justify-content: space-between;

    & h4 {
      display: inline-flex;
      align-items: center;
    }
  }
}

.rootMobile {
  position: relative;

  & > .head {
    display: inline-block;
    height: 70px;
    margin: 5px 0;
    flex-direction: row;
    justify-content: space-between;

    & h4 {
      font-weight: bold;
      display: inline-flex;
      align-items: center;
    }
  }
}

.seeAll {
  border: 0;
  background-color: transparent;
  color: gray;
}

.seeAll {
  border: 0;
  background-color: transparent;
  color: gray;
}
