@import '../../styles/app';

.root {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.icons {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: $screen-sm-min) {
  .root {
    margin-top: 30px;
    justify-content: space-around;
  }
}
